.vClass{color: rgb(3, 32, 53);
 background-color: rgba(228, 39, 26, 0.74);
 width: 55px;}
 .fClass{
 color:#50c878;
 background-color: rgba(0, 66, 37, 0.75);
 width:55px}
 .rClass{
 background-color: #0B4A92;
 color:#9dc1f7;
 width:55px;}
 #wLeader{
 color: black;
 background-color:#d4af37;
 width:55px;}